body {
    background-color: gray;
    color: white;
}

#test {
    background-color: white;
}

/* #main-box {
    background-color: lightgray;
    margin: 0 auto;
    text-align: center;
} */